body {
    background-color: #303030;
    color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

a:active {
    background-color: #202020;
}
